<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                I am an experienced Korean tutor. Before coming to the UK in 2012, I worked for middles schools in Korea as an English teacher.
            </p>
            <p class="paragraph-text justify-text">
                My teaching is mainly based on .
            </p>
            <p class="paragraph-text justify-text">
                I maintain a YouTube channel <a href="https://www.youtube.com/@MilimKim-n6p" target="_blank">Milim Kim Korean</a> where I used to upload some teaching materials.
            </p>
        </div>
    </section>
</div>
